.flex{
    width: 75%;
    margin: 120px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
}
.flexp{
    width:60%;
}
.flex h2{
    font-weight: 600;
    font-size: 36px;
}
.tab{
    display: flex;
    gap: 20px;
}
.tabdiv {
    background-color: #F8F8F8;
    border: 1px solid #545454;
    color: black;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
}


.tabdiv.activeTab {
    background-color: #FD6F00;
    color: #ffffff;
}
.card{
    display: flex;
    gap: 30px;
    margin: 60px 0 0;
}
