@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #ffffff;
  --text-color:0,0,0;
  --dark-text:#1E1E1E;
  --dark-footer:#F8F8F8;
  --footer-end:#545454;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #1E1E1E;
    --text-color:255,255,255;
    --dark-text: #FBFBFB;
    --dark-footer:#1E1E1E;
    --footer-end:#121212;
    ;
  }

}

body {
  font-family: 'Poppins',sans-serif;
  color: rgb(var(--text-color));
  background: var(--foreground-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
